<p id="notice"><%= notice %></p>

<p>
  <strong>Event:</strong>
  <%= @student.event %>
</p>

<p>
  <strong>Attendance:</strong>
  <%= @student.attendance %>
</p>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
